<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.swingmusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwingMusic"
        tools:node="merge">
        <activity
            android:name=".SecondSupplier"
            android:exported="false" />
        <activity
            android:name=".ZyanAlbum"
            android:exported="false" />
        <activity
            android:name=".ArijitSinghAlbum"
            android:exported="false" />
        <activity
            android:name=".SwingAboutUsPage"
            android:exported="false" />
        <activity
            android:name=".SwingLibraryPage"
            android:exported="false" />
        <activity
            android:name=".SwingHomePage"
            android:exported="false" />
        <activity
            android:name=".chooseEmailVerifyMethod"
            android:exported="false" />
        <activity
            android:name=".activity_email_otp"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordSuccessMessage"
            android:exported="false" />
        <activity
            android:name=".setNewPassword"
            android:exported="false" />
        <activity
            android:name=".MakeSelection"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".VerifyOTP"
            android:exported="false" />
        <activity
            android:name=".AftersignUpSupplier"
            android:exported="false" />
        <activity
            android:name=".accSupplierScr"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".signUp"
            android:exported="false" />
        <activity
            android:name=".signIn"
            android:exported="true" />
        <activity
            android:name=".supplier"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>